body{
  align-items: center;
  position: relative;
}

h1{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

#triangle{
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #b6f614;
  border-left: 50px solid transparent;
  margin-left: 30%;
  margin-top: 5%;
  position: absolute;
  transition: top 0.5s ease;
}

#square{
  width: 90px;
  height: 90px;   
  margin-left: 50%;
  margin-top: 5%;
  background: #ff00d4;
  position: absolute;
  transition: top 0.5s ease;
}

#round{
  width: 100px;
  height: 100px;
  border-radius: 150px;
  margin-left: 70%;
  margin-top: 5%;
  background: #9900ff;
  position: absolute;
  transition: top 0.5s ease;
}

#triangle:hover{
  border-bottom: 100px solid #f91dee;
  }

  #square:hover{
    background: #00eeff;
   }
   
#round:hover{
  background: #ff8000;
}


button{
  margin-top: 15%;
  margin-left: 50%;
}


